<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainMenuPage">

        <activity
            android:name=".ReferenceLinks"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".PictureAlphabetMenuActivity"
            android:exported="true" />
        <activity
            android:name=".PictureAlphabetActivity"
            android:exported="true" />
        <activity
            android:name=".HangmanMenuActivity"
            android:exported="true" />
        <activity
            android:name=".HangmanActivity"
            android:exported="true" />
        <activity
            android:name=".MathMenuActivity"
            android:exported="true" />
        <activity
            android:name=".MathActivity"
            android:exported="true" />
        <activity
            android:name=".MathResultActivity"
            android:exported="true" />
        <activity
            android:name=".MemoryFlipMenuActivity"
            android:exported="true" />
        <activity
            android:name=".MemoryFlipActivity"
            android:exported="true" />
        <activity
            android:name=".TicTacToeMenuActivity"
            android:exported="true" />
        <activity
            android:name=".TicTacToeActivity"
            android:exported="true" />
        <activity
            android:name=".MatchingMenuActivity"
            android:exported="true" />
        <activity
            android:name=".MatchingActivity"
            android:exported="true" />
        <activity
            android:name=".CreateAccountPage"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordPage"
            android:exported="true" />
        <activity
            android:name=".LoginPage"
            android:exported="true" />
        <activity
            android:name=".WelcomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BackgroundMusicService"
            android:exported="false" />
    </application>

</manifest>